@page
@model LoginModel

@{
    ViewData["Title"] = "Inicio de sesión";
}

<div class="row justify-content-center my-5">
    <h1 class="text-center mb-4">@ViewData["Title"]</h1>

    <div class="col-md-6 col-sm-8 col-10">
        <section class="mb-5">
            <form id="account" method="post">
                <h2>Por favor ingresa tu usuario y contraseña.</h2>

                <hr />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-floating input-group mb-3">
                    <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Username" class="form-label"></label>
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>

                <div class="form-floating input-group mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="input-group mb-3">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Iniciar sesión</button>
                </div>

                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">¿Se te olvidó la contraseña?</a>
                    </p>
                </div>
            </form>
        </section>

        @{
            if ((Model.ExternalLogins?.Count ?? 0) != 0)
            {
                <section class="mb-5">
                    <h3>También puedes iniciar sesión con:</h3>
                    <hr />
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                        @if (@provider.Name == "Google")
                                        {
                                            <i class="fa fa-google"></i>
                                        }
                                        @provider.DisplayName
                                    </button>
                                }
                            </p>
                        </div>
                    </form>
                </section>
            }
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
